<div class="container">
    <form     
        class="card text-center" 
        [formGroup]="form"
        (ngSubmit)="submit()">
        <h2>Создание нового поста</h2>
        <div class="row justify-content-center" id="titileInp">
            <div class="col-10 text-start">
                <h4>Название поста:</h4>
                <input type="text"
                class="form-control is-valid" 
                id="validationServer03"
                formControlName="title"
                [class.is-invalid]="form.get('title')!.touched && form.get('title')!.invalid"
                [class.is-valid]="form.get('title')!.touched && form.get('title')!.valid"
                >
                <div 
                *ngIf="form.get('title')!.touched && form.get('title')!.invalid"
                class="invalid-feedback"
                >
                    <p *ngIf="form.get('title')?.errors!['required']">Введите название поста</p>
                    <p *ngIf="form.get('title')?.errors!['minlength']">Минимальная длина названия 3 символа</p>
                </div>
            </div>
        </div>


            <div class="row justify-content-center">
                <div class="col-10 text-start">
                    <h4>Введите текст поста:</h4>
                    <quill-editor formControlName="text"></quill-editor>
                </div>          
            </div>

        <div class="row justify-content-center" id="authInp">
            <div class="col-10 text-start">
                <h4>Автор поста:</h4>
                <input type="text"
                class="form-control is-valid" 
                id="validationServer04"
                formControlName="author"
                [class.is-invalid]="form.get('author')!.touched && form.get('author')!.invalid"
                [class.is-valid]="form.get('author')!.touched && form.get('author')!.valid"
                >
                <div 
                *ngIf="form.get('author')!.touched && form.get('author')!.invalid"
                class="invalid-feedback"
                >
                    <p *ngIf="form.get('author')?.errors!['required']">Введите имя автора</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center createBtn">
            <div class="col-2">
                <button 
                mat-raised-button 
                type="submit"
                id="newPost" 
                color="primary" 
                [disabled]="form.invalid"
                >Создать</button>
            </div>
        </div>
    </form>
</div>

