<div class="container">
<div class="row justify-content-center">
    <div class="col-9 justify-content-center">
        <div class="card text-start">
            <div class="card-header">
              <div class="row">
                <div class="col-9">
                  <h2>{{post.title}}</h2>
                </div>
                <div class="col-3 text-end">
                  <span>{{post.date| date: "medium"}}</span>
                </div>
              </div>

            </div>
            <div class="card-body">
              <div class="row">
                <span><b>Автор: </b>{{post.author}}</span>
              </div>
              <div class="row">
                <span><b>Дата: </b>{{post.date| date: "medium"}}</span>
              </div>
              <div class="row justify-content-end">
                <div class="col-auto">
                  <button mat-raised-button  color="primary"
                  [routerLink]="['/post', post.id ]"
                  >Открыть</button>
                </div>
              </div>
              </div>
            </div>
          </div>
    </div>
  </div>