
quill-editor{
    display: inline-block; 
}
.container{
    margin-top: 20px;
}
h4{
    margin-bottom: 5px;
    font-weight: bold;
}
#titileInp{
    margin-bottom: 20px;
}
.updateBtn{
    padding-bottom: 50px;
    margin-top: 20px;
}
.loadText{
    padding-left: 20px;
}
h2{
    margin: 0px;
}
