<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="form; else loading" class="card text-center">
        <h2>Редактирование поста</h2>

        <div class="row justify-content-center" id="titileInp">
            <div class="col-10 text-start">
                <h4>Название поста:</h4>
                <input type="text"
                class="form-control is-valid" 
                id="validationServer07"
                formControlName="title"
                [class.is-invalid]="form.get('title')!.touched && form.get('title')!.invalid"
                [class.is-valid]="form.get('title')!.touched && form.get('title')!.valid"
                >
                <div 
                *ngIf="form.get('title')!.touched && form.get('title')!.invalid"
                class="invalid-feedback"
                >
                    <p *ngIf="form.get('title')?.errors!['required']">Введите название поста</p>
                    <p *ngIf="form.get('title')?.errors!['minlength']">Минимальная длина названия 3 символа</p>
                </div>
            </div>
        </div>

            <div class="row justify-content-center">
                <div class="col-10 text-start">
                    <h4>Текст поста:</h4>
                    <quill-editor formControlName="text"></quill-editor>
                </div>          
            </div>

        <div class="row justify-content-center updateBtn">
            <div class="col-2">
                <button 
                mat-raised-button 
                type="submit"
                id="newPost" 
                color="primary" 
                [disabled]="form.invalid || submitted "
                >Обновить</button>
            </div>
        </div>
    </form>

    <ng-template #loading>
        <div class="row justify-content-center">
            <div class="col-auto">
                <table class="justify-content-center">
                      <tr>
                        <td class="align-middle"> <mat-spinner class="align-middle" [diameter]="30"></mat-spinner></td>
                        <td class="align-middle loadText"><h2 class="align-top ">Идет загрузка...</h2></td>
                      </tr>
                  </table>
            </div>
        </div>
    </ng-template>
</div>

