<div class="container"
    *ngIf="posts.length">
    <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2"
            type="search"
            placeholder="Найти пост..."
            aria-label="Search"
            [(ngModel)]="searchStr"
            [ngModelOptions]="{standalone: true}" >
          <button class="btn btn-outline-success" type="submit">Писк</button>
        </form>
      </div>
     
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th class="col-1">#</th>
                <th class="col-2">Автор</th>
                <th class="col-3">Название</th>
                <th class="col-3">Дата</th>
                <th class="col-3"><strong>Действие</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts | searchPosts:searchStr; let idx=index">
                <td class="align-middle">{{idx+1}}</td>
                <td class="align-middle">{{post.author}}</td> 
                <td class="align-middle">{{post.title}}</td> 
                <td class="align-middle">{{post.date | date:'medium':'ru'}}</td>
                <td class="align-middle">
                    <button 
                        class="opnbtn"
                        mat-raised-button 
                        color="primary"
                        [routerLink]="['/admin','post', post.id, 'edit']"
                        >Открыть</button>
                    <a mat-stroked-button (click)="remove(post.id)">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
<div class="row justify-content-center" *ngIf="download">
    <div class="col-auto">
        <table class="justify-content-center">
              <tr>
                <td class="align-middle"> <mat-spinner class="align-middle" [diameter]="30"></mat-spinner></td>
                <td class="align-middle loadText"><h2 class="align-top ">Идет загрузка...</h2></td>
              </tr>
          </table>
    </div>
</div>


<div 
    class="container text-center"
    *ngIf="!posts.length && !download">
    <h2 class="align-middle">Нет постов</h2>
</div>





