<div class="container">
        <div *ngIf="posts$ | async as posts; else loading">
        <app-post
            *ngFor="let post of posts"
            [post]="post">
        </app-post>
    </div>

    <ng-template #loading>
        <div class="row justify-content-center">
            <div class="col-auto">
                <table class="justify-content-center">
                      <tr>
                        <td class="align-middle"><mat-spinner class="align-middle" [diameter]="30"></mat-spinner></td>
                        <td class="align-middle loadText"><h2 class="align-top ">Идет загрузка...</h2></td>
                      </tr>
                  </table>
            </div>
        </div>
    </ng-template>
</div>

